/* Default styling
--------------------------------------------------------------- */
@font-face {
    font-family: freestyle;
    src: url("../fonts/freestyle.ttf");
}
@font-face {
    font-family: georgia;
    src: url("../fonts/georgia.ttf");
}
@font-face {
    font-family: lucida;
    src: url("../fonts/lucida_sans.ttf");
}

body {
    background: #dfd5c5 url("../img/tile.gif") repeat;
    line-height: 1.5em;
}

img, object {
    width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

/* Header & social networks
---------------------------------------------------------------*/
header h1#logo {
    font: italic normal 4em/1.5em "Freestyle Script", georgia, serif;
    margin-top: 0;
}

header h1#logo a {
    color: #fff;
    text-shadow: 2px 2px 2px #222;
}

header h1#logo small {
    color: #999;
    text-shadow: 2px 2px 2px #222;
}

header {
    background: #53463b url("../img/wood.gif") repeat-x;
}

div.social-networks {
    margin-top: 2em;
}

div.social-networks ul li {
    position: relative;
    padding-left: 0;
}

div.social-networks ul li a {
    color: #fff;
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 2em;
    line-height: 1.6em;
    transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
}

div.social-networks ul li a:hover {
    color: #ccc;
}

div.social-networks ul li.facebook:before {
    content:"";
    background: #3b5998 url("../img/facebook.png") center/1.5em 1.5em;
    border-radius: 3px;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    transition: background 0.4s linear;
    -moz-transition: background 0.4s linear;
    -webkit-transition: background 0.4s linear;
}

div.social-networks ul li.facebook:hover:before {
    background: #000 url("../img/facebook-black.png") center/1.5em 1.5em;
}

div.social-networks ul li.twitter:before {
    content:"";
    background: #79c2f6 url("../img/twitter.png") center/1.5em 1.5em;
    border-radius: 3px;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    transition: background 0.4s linear;
    -moz-transition: background 0.4s linear;
    -webkit-transition: background 0.4s linear;
}

div.social-networks ul li.twitter:hover:before {
    background: #000 url("../img/twitter-black.png") center/1.5em 1.5em;
}

div.social-networks ul li.instagram:before {
    content:"";
    background: #c75b73 url("../img/instagram.png") center/1.5em 1.5em;
    border-radius: 3px;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    transition: background 0.4s linear;
    -moz-transition: background 0.4s linear;
    -webkit-transition: background 0.4s linear;
}

div.social-networks ul li.instagram:hover:before {
    background: #000 url("../img/instagram-black.png") center/1.5em 1.5em;
}

div.social-networks ul li.google-plus:before {
    content:"";
    background: #d95032 url("../img/google_plus.png") center/1.5em 1.5em;
    border-radius: 3px;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    transition: background 0.4s linear;
    -moz-transition: background 0.4s linear;
    -webkit-transition: background 0.4s linear;
}

div.social-networks ul li.google-plus:hover:before {
    background: #000 url("../img/google_plus-black.png") center/1.5em 1.5em;
}

/* Navigation menu
------------------------------------------------------------- */
ul.nav-menu {
    margin-bottom: 0;
}

ul.nav-menu li  {
    position: relative;
    height: 3em;
    line-height: 3em;
    border-width: 0 0 0 2px;
    border-left-color: #aaa;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    padding-left: 0;
}

ul.nav-menu li a {
    position: absolute;
    display: block;
    width: 100%;
    color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    padding-left: 1em;
    text-shadow: 2px 2px 2px #222;
    transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    -webkit-transition: background-color 0.4s linear;
}

ul.nav-menu li a:hover {
    background: rgba(51,51,51,0.4);
}

/* Carousel slider
----------------------------------------------------------- */
div.carousel {
    max-height: 700px;
    overflow: hidden;
}

div.carousel-caption {
    top: 5%;
    left: 0;
    height: 14em;
    width: 100%;
    background: rgba(51,51,51,0.5);
}

div.carousel-caption h3 {
    font: italic normal 3em/1.5em georgia, serif;
}

div.carousel-caption p {
    font: italic normal 1.5em/1.5em georgia, serif;
}

/* User review
-------------------------------------------------------------- */

div.user-review {
    background: #fff;
}

div.user-review div.review {
    text-align: center;
    padding: 1.5em 1.5em 2em 1.5em;
}

div.user-review div.review h3 {
    color: #53463b;
    font: normal normal 3em/1.5em freestyle, sans-serif;
}

div.user-review div.review p {
    font: normal normal 1.5em/1.5em georgia, serif;
}

/* location form
---------------------------------------------------------------- */
#location {
    margin: 0;
    padding: 1em;
}
#loc {
    position: relative;
    padding: 0 0 .5em 0;
}
#loc img#cup {
    position: absolute;
    top: -1.5em;
    right: 1em;
}
#loc label {
    display: block;
    margin: 0 0 .5em 0;
    padding-left: 30px;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #51463d;
}

#loc input#loc-text {
    font-family: lucida, sans-serif;
    display: block;
    margin: auto;
    font-size: 1.2em;
    width: 93%;
    padding: .8em;
    border: none;
    color: #51463d;
}
#loc-adv {
    margin: .5em 1em 0 0;
    text-align: right;
}
#loc-adv a {
    padding: 0 0 0 19px;
    font-weight: bold;
    text-decoration: none;
    color: #9c836e;
    background: url(../img/icon-toggle.gif) no-repeat 8px 50%;
}
#map {
    display: none;
    position: relative;
    margin: 0 1em;
    padding: 2em;
    background: #d5d4c7 url(../img/map-shadow.gif) repeat-x top left;
}
#map img#map-img {
    width: 100%;
    border: .1em solid #fff;
}
#map #marker {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
}

/* Footer
--------------------------------------------------------------- */
footer {
    background: #53463b url("../img/wood.gif") repeat-x;
    color: #ddd;
    font: normal normal 1em/1.5em georgia, serif;
    margin: 2em 0;
    padding: 2em;
}

footer span {
    letter-spacing: 0.1em;
}

/* Feedback
--------------------------------------------------------------- */

div.message {
     padding: 3em;
 }

div.message h1 {
    font: normal normal 3em/1.5em georgia, serif;
}

div.message p {
    font: normal normal 1.5em/1.5em georgia, serif;
}

div.form textarea {
    height: 10em;
}
